/* style.css */

body {
    background-color: #f8f9fa; /* cinza claro do Bootstrap */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-navbar {
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.custom-card {
    border-radius: 10px;
}

.custom-btn {
    border-radius: 50px;
    font-weight: 600;
}

.custom-bg {
    min-height: 100vh;
    padding-bottom: 40px;
}

.card-title {
    color: #0d6efd; /* azul Bootstrap */
}

.list-group-item {
    font-size: 1.1rem;
}

.badge {
    font-weight: 700;
    font-size: 0.8rem;
}
